<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-2.1.1.js'></script>
    <script src='/javascripts/underscore-1.7.0.js'></script>
    <script src='/javascripts/disapproval.js'></script>
    <script src='/javascripts/example.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Example 1: Bar Chart for a Single Dataset</h3>
    <div id='chart-container' style='margin-bottom: 40px'></div>
    <h3>Example 2: Line Chart for a Single Dataset</h3>
    <div id='chart-container-2' style='margin-bottom: 40px'></div>
    <h3>Example 3: Line Charts for Multiple Datasets</h3>
    <div id='chart-container-3' style='margin-bottom: 40px'></div>
  </body>
</html>
