<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-2.1.1.js'></script>
    <script src='/javascripts/underscore-1.7.0.js'></script>
    <script src='/javascripts/disapproval.js'></script>
    <script src='/javascripts/example.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
